<div id="LOISIRS" class="flex flex-col gap-2 py-3">
    <h2>Les environs</h2>
    {% include "components/_carousel_link_button.html.twig" with {'slides': around_slides} %}
    <p>
        Il y a beaucoup d'endroit à visiter dans la région, que vous soyez amoureux de nature, avec lac, cascade, site géologique, forêt ou amoureux des vieilles villes et des monuments historiques, cette région vous comblera de bonheur.<br>
        <br>
        Nous sommes :<br>
        - À 5km de la Pinatelle du Zouave<br>
        - À 16km de la Cascade de la Beaume<br>
        - À 25km du Lac du Bouchet<br>
        - À 30km des Orgues de Prades<br>
        - À 40km de la Passerelle des Gorges du Lignon<br>
        <br>
        - À 1km du Puy-en-Velay<br>
        - À 14km du Chateau de Rochelambert<br>
        - À 40km de la Chaise-Dieu<br>
        <br>
        Sans oublier les grandes randonnées des environs :<br>
        - Chemin de Stevenson<br>
        - GR40<br>
        - Départ de St Jacques de Compostelle<br>
        Et les plus petites :<br>
        - Le sentier des chibottes<br>
        - Les chemins oubliés du Meygal
    </p>
</div>
