<div id="GITE" class="bg-[#ffe3ad] flex flex-col text-center p-5">
    <div class="mb-5">
        <span class="text-6xl font-semibold">2024</span>
        <h3 class="text-xl font-bold">Ouverture du ludogite</h3>
    </div>
    <div class="mb-5">
        <span class="text-6xl font-semibold">400+</span>
        <h3 class="text-xl font-bold">Jeux de sociétés</h3>
    </div>
    <div>
        <span class="text-6xl font-semibold">8</span>
        <h3 class="text-xl font-bold">Nombres de personnes max</h3>
    </div>
</div>
