<div id="LIEU" class="flex flex-col gap-8 p-3 items-center text-lg">
    <h2 class="text-4xl font-bold">Gîte</h2>
    <div class="flex flex-col items-center text-center w-80">
        <div>{{ ux_icon('fa6-solid:bed', {class: 'w-20 h-20'}) }}</div>
        <h3 class="text-2xl font-semibold">Modulable</h3>
        <div>2 logements possibles</div>
        <div>Un studio pour 2 personnes.</div>
        <div>Un loft de 3 chambres pour une capacité max de 6 personnes avec un double modèle, chambre chez l'habitant s'il est réservé partiellement, gite indépendant sinon.</div>
    </div>
    <div class="flex flex-col items-center text-center w-80">
        <div><img src="{{ asset('images/ludogite-logo.png') }}" class="w-[80px]"/></div>
        <h3 class="text-2xl font-semibold">Ludothèque</h3>
        <div>Un espace calme entouré d'étagères de jeux de sociétés.</div>
    </div>
    <div class="flex flex-col items-center text-center w-80">
        <div>{{ ux_icon('cil:animal', {class: 'w-20 h-20'}) }}</div>
        <h3 class="text-2xl font-semibold">Animaux</h3>
        <div>Des chats habitent la maison, des cochons et chevaux se baladent dans les prés. Nous acceptons volontié de nouveaux compagnons, pensez à nous prévénir.</div>
    </div>
    <div class="flex flex-col items-center text-center w-80">
        <div>{{ ux_icon('f7:house-fill', {class: 'w-20 h-20'}) }}</div>
        <h3 class="text-2xl font-semibold">Prestations incluses</h3>
        <ul>
            <li>Linge de lit et de toilette</li>
            <li>Lave-linge et cuisine toute équipée</li>
            <li>Nécessaires de base cuisine (condiments, liquide vaisselle…)</li>
            <li>Wi-Fi</li>
        </ul>
    </div>

    {# <h2>Le lieu</h2> #}

    {# <p>Graine de Jeux, c'est un gîte de 3 chambres et un studio ! Nous pouvons donc accueillir un groupe de 8 personnes ou bien plusieurs petits groupes, afin de partager un repas, une soirée jeux et de belles conversations.</p> #}
</div>
