<div id="LUDOTHEQUE" class="flex flex-col gap-3 p-5 bg-[#ffe3ad] text-center">
    <img class="" src="{{ asset('images/ludotheque_piece.jpg') }}" alt="ludotheque canape">
    <h2>La ludothèque</h2>
    <p>Nous avons ouvert notre ludothèque avec notre collection personnel de 300 jeux et nous ne cessons d'étoffer en choix et en diversité afin que tout le monde puisse trouver ce qui lui convient.</p>
    <button class="bg-white font-semibold text-black py-2 px-4 border-2 border-black hover:border-transparent rounded w-fit m-auto">
        <a href="https://www.myludo.fr/?#!/profil/graine-de-jeux-67906">Voir notre collection sur Myludo !</a>
    </button>
</div>
