<div id="LUDOGITE" class="flex flex-col gap-3 p-5 text-justify">
    <div class="flex gap-3 items-center justify-center">
        <h2>Le label Ludogîte</h2>
        <img class="h-[32px]" src="{{ asset('images/ludogite-logo.png') }}" alt="ludogite logo">
    </div>
    <p>Un
        <strong>ludogîte</strong>, c'est à la fois
        <strong>une ludothèque</strong>
        et
        <strong>un gîte</strong>. Les
        <strong>ludogîtes</strong>
        ont été créés par des passionnés de jeux de société, souvent collectionneurs, qui ont souhaité mettre leur passion à disposition des locataires du lieu de vacances qu'ils ont créé. Y séjourner est une expérience extraordinaire. Les
        <strong>ludogîtes</strong>
        sont situés dans toute la France. Ils peuvent accueillir des familles ou des groupes de toutes tailles pour des vacances ou des weekends inoubliables. À ce jour, 13 ludogîtes vous accueillent et 2 autres ouvriront bientôt.
    </p>
    <button class="bg-[#ffe3ad] font-semibold text-black py-2 px-4 border-2 border-black hover:border-transparent rounded w-fit m-auto">
        <a href="https://ludogite.fr/">Voir les ludogites !</a>
    </button>
</div>
