{% extends 'base.html.twig' %}

{% block title %}Graine de Jeux - Acceuil
{% endblock %}

{% block body %}
    <main class="flex flex-col lg:flex-row">
        {% include "components/_carousel_link_button.html.twig" with {'slides': intro_slides} %}
        <div class="flex flex-col gap-2 py-3 px-5 text-justify">
            <p class="font-bold">Nous sommes un gîte ludique faisant partie de l'association des
                <a href="https://ludogite.fr/">Ludogîtes</a>. Nous nous sommes installés tout près du Puy-en-Velay, en plein coeur de la Haute-Loire.
            </p>

        </div>
        {% include "main/_gite.html.twig" %}

        {# Appareils de restauration conviviale (crêpes, raclette, fondues),
                et prises RJ 45 dans toutes les pièces #}

        {% include "components/_carousel_link_button.html.twig" with {'slides': graine_de_jeux_slides} %}
        {% include "main/_lieu.html.twig" %}
        {% include "main/_ludotheque.html.twig" %}
        {# {% include "main/_activites.html.twig" %} #}


        {# <div id="events" class="flex flex-col gap-2 py-3">
            <h2>Les évènements</h2>
            {% include "components/_carousel_link_button.html.twig" with {'slides': events_slides} %}
            <p>Parler des évènements</p>
        </div> #}
        {% include "main/_ludogite.html.twig" %}

    </main>
{% endblock %}
