<header class="bg-[#ffe3ad] shrink-0 flex flex-col sm:flex-row items-center sm:justify-between py-4 sm:py-0 px-6 border-b border-white/20 shadow-md">
    <div class="flex flex-row items-center">
        <a href="{{ path('app_main_homepage')}}" class="mx-[10px]">
            <img class="h-[82px]" src="{{ asset('images/graine-de-jeux-logo.png') }}" alt="graine de jeux logo">
        </a>
        <div class="mx-[10px] text-4xl">Graine de jeux</div>
    </div>
    {# <nav class="flex space-x-4 font-semibold">
        <a class="hover:text-amber-400 pt-2" href="#place">
            Lieu
        </a>
        <a class="hover:text-amber-400  pt-2" href="#games">
            Ludothèque
        </a>
        <a class="hover:text-amber-400 pt-2" href="#nature">
            Environs
        </a>
        <a class="hover:text-amber-400 pt-2" href="#events">
            Evènements
        </a>
    </nav> #}
</header>